* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-style: normal;

}

body {
    height: 100%;
    margin: 0%;
    background-color: rgb(224, 224, 224);
}

/* navigation */

.sticky {
    background-color: rgb(255, 239, 11);
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 2em;
}

nav > ul {
    display: flex;
    flex-direction: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li > a {
    display: flex;
    flex-direction: wrap;
    text-align: center;
    font-size: 1.5em;
    color: #2a108b;
    position: relative;
    margin: 0.5em 1em;
    text-decoration: none;
}

/* navigation */

/* Profil */

#profil {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    margin: 11em 0;
}

.container-biodata {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 80%;
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("Asset/image/hero/background 7.avif");
    background-position: center;
    background-size: cover;
    margin-bottom: 3em;
    border-radius: 50px;
}

.biodata {
    text-align: left;
    text-shadow: 1px 1px 1px;
    padding-left: 2em;
    padding-right: 2em;
}

.biodata > h1 {
    font-size: 3em;
}

.biodata > p {
    font-size: 1.5em;
}